.menu-toggle-btn {
    font-size: 50px;    
    color: #2c3e50;
    cursor: pointer;
    margin: 10px;
}

.custom-sidebar {
    background: #3b1648;
    color: white !important;
    width: 300px !important;
    padding-top: 20px;
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 34px; /* Menu yazısı daha büyük */
    font-weight: bold;
    margin-top: 60px;
    color: rgb(255, 115, 0);
}

.sidebar-user {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    padding: 18px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-links li:hover {
    background: rgba(255, 90, 7, 0.95);
}

.custom-sidebar a {
    color: white;
    text-decoration: none;
}
.menu-toggle-btn {
    font-size: 40px;    
    color: #2c3e50; /* istediğin renk */
    cursor: pointer;
    position: fixed;   /* sabitle */
    top: 15px;         /* navbarın altına biraz boşluk */
    left: 20px;        /* solda konumlandır */
    z-index: 1100;     /* sidebar’dan üstte görünmesini sağlar */
    background: transparent;
    border: none;
}

